.header {
	position: absolute;
	top: 0;
	margin-left: 20px;
	clear: both;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	background-color: white;
	margin-top: 8px;
}

.header span {
	font-family: Arial;
	font-size: 8pt;
	position: inline-block;
	font-weight: 600;
}

.header img {
	padding: 0 280px 0 280px;
	width: 200px;
	height: 38px;
	vertical-align: middle;
}

.whitebox {
	margin: 0 20px 0 10px;
}

#sections {
	border-radius: 1px;
	border: 1px solid #c5c5c5;
	padding: 8px 15px 8px 25px;
	margin-left: -10px;
	background-color: white;
}

.bluebox {
	border-radius: 5px;
	color: white;
	background: #6288a5;
	padding: 10px;
	margin: 0 10px 0 0;
}

.container {
	display: relative;
	top: 0;
	margin-left: 20px;
	border-left: 1px solid #c5c5c5;
	width: 100%;
	padding-left: 80px;

}

.banner {
	font-family: Georgia;
	font-size: 8pt;
	margin-top: 50px;
	display: inline-block;
	border-bottom: 1px solid #c5c5c5;
	margin-left: -80px;
}

.banner img {
	height: 60px;
	width: 90px;
	border-left: 1px solid #c5c5c5;
}

.banner span {
	height 70px;
	width: 100px;
	padding: 10px 10px 0 0;
}

.title {
	border-top: 1px solid black;
	border-bottom: 1px solid #c5c5c5;
	margin-top: 5px;
	margin-right: 200px;
}

.author {
	display: inline-block;
}

.author img {
	float: right;
	height: 40px;
	width: 250px;
	padding: 10px;
}

h2 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: 600;
}

h3 {
	float: left;
	font-size: 8pt;
	height: 40px;
	width: 790px;
}

h4 {
	color: #6288a5;
}

h5 {
	font-size 8pt;
	color: black;
}


#telescope {
	width: 1050px;
}

#caption {
	width: 600px;
	color: #666770;
	font-size: 10pt;
}

.main{
	position:relative;

}
.article {
	display: inline-block;
	width: 550px;
	padding: 20px;
	font-size: 14pt;
	margin-left: 50px;
}

.comments  {
	font-family: arial;
	color: #666770;
	display: inline-block;
	width: 300px;
	vertical-align: top;
	padding: 100px 0 0 20px;
}

.theory {
	border-top: 1px solid #c5c5c5;
	margin-right: 300px;
}

.table {
	border-top: 1px solid #c5c5c5;
	margin-right: 300px;
	border-bottom: 1px solid #c5c5c5;
}

#theader {
	font-size: 14pt;
	color: black;
}

#tcaption {
	color: #666770;
}

.table img {
	height: 130px;
	float: left;
}

td {
	font-family: arial;
	font-size: 10pt;
	padding: 5px;
	line-height: 14pt;
}

.footnote {
	color: #666770;
}

#video {
	margin-left: -10px;
	color: #666770;
	font-size: 10pt;
}

#signup {
	float: left;
	height: 350px;
}

#telescope2 img {
	height: 400px;
}

#telescope2 {
	margin-right: 670px;
	font-size: 10pt;
}

